@model IEnumerable<SistemaPedidosRumo.Models.PedidoAuxiliar>

@{
    ViewData["Title"] = "Cozinha";
}

<h2>Cozinha</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Numero do Pedido")
            </th>
            <th>
                @Html.DisplayName("Prato")
            </th>
            <th>
                @Html.DisplayName("Quantidade")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if(item.cardapio.LocalCriacao == 0)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cardapio.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtde)
            </td>
            <td>
                @Html.ActionLink("Deletar", "DeleteCozinha", new { id = item.Id })
            </td>
        </tr>
    }
        
}
    </tbody>
</table>

<div>
    <a asp-action="Index">Voltar</a>
</div>
